<div class='col {{ $.Scratch.Get "garden_tags_list" }}'>
    <div class="card top-highlight">
        <div class="card-body">
            {{ if .Summary }} 
            <h4 class="card-title">{{ .Title }}</h4>
            <p class="card-text pb-3">{{ .Summary }}</p>
            {{ else }}
            <h4 class="card-title pb-3">{{ .Title }}</h4>
            {{ end }}
            <a href="{{ .Permalink }}" class="stretched-link"></a>
            <hr class="dropdown-divider">
            <div class="row justify-content-between">
                <div class="col-6">
                    {{ $dateTime := .Lastmod.Format "2006-01-02" }}
                    {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
                    <span style="font-size: small"> {{ .Lastmod.Format $dateFormat }}</span>
                </div>
                <div class="col-6" style="text-align: right">
                    {{ partial "status.html" . }} 
                </div>
            </div>
        </div>
    </div>
</div>