{{ with .Params.status }}
    {{ if eq "seeding" . }}
    <span class="status">Retoño 🌱</span>
    {{ else if eq "growing" . }}
    <span class="status">Arbusto 🌿</span>
    {{ else if eq "evergreen" . }}
    <span class="status">Árbol 🌳</span>
    {{ else }}
    {{ end }}
{{ end }}