```{=html}
<div class="research project-list">
<ul class="list">
    <% for (const item of items) { %>
        <li class="project" <%=metadataAttrs(item) %>>
            <div class="project-content listing-pub-info">
                <p><%= item['pub-info'].reference %></p>
            </div>

            <% if(item.categories) { %>
            <div class="project-categories">
                <% for (const cat of item.categories) { %>
                    <div class="project-category"><a href="#category=<%= cat %>">
                            <%= cat %>
                        </a></div>
                    <% } %>
            </div>
            <% } %>

            <% // Loop through the haiku lines and prepend a / to all but the first %>
            <% if (item.haiku) { %>
            <div class="haiku">
            <% for (var i=0; i <= item.haiku.length - 1; i++) { %>
                <% if (i > 0) { %> / <% } %><%= item.haiku[i] %>
            <% } %>
            </div>
            <% } %>
            
            <div class="project-details-listing">
                <ul class="project-links">
                    <li class="project-link details">
                        <a href="<%- item.path %>" class="listing-name">
                            <i class="fa-solid fa-circle-info"></i> Más detalles »
                        </a>
                    </li>
                    <% if (item['pub-info'].links) { %>
                        <% for (const link of item['pub-info'].links) { %>
                    <li class="project-link">
                        <% if (link.local) { %>
                        <a href="<%- item.path.substring(0, item.path.lastIndexOf('/')) %>/<%- link.url %>">
                        <% } else { %>
                        <a href="<%- link.url %>">
                        <% } %>
                            <i class="<%- link.icon %>"></i> <%= link.name %>
                        </a>
                    </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </li>
        <% } %>
</ul>
</div>
```
