/*-- scss:defaults --*/

$theme: "knimbus-dark" !default;

//
// Color system
//

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f2f2f0 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #030d11 !default;

$blue:    #004e66 !default;
$indigo:  #0a2a33 !default;
$purple:  #6e2a44 !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #f06543 !default;
$light-orange:  #fb8b24 !default;
$yellow:  #debb0b !default;
$green:   #06a77d !default;
$teal:    #20c997 !default;
$cyan:    #85bdbf !default;

$primary:   $teal !default;
$secondary: $gray-700 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;

// $min-contrast-ratio: 2.6 !default;

// Fonts


$font-family-sans-serif: "Fira Sans" !default;

$headings-font-family: "Secular One" !default;
$headings-font-weight: 600 !default;

$navbar-font-family: "Fira Sans" !default;
$toc-font-family: "Fira Sans" !default;
$footer-font-family: "Fira Sans" !default;

// $font-size-base: 1.1rem !default; // Assumes the browser default, typically `16px`
// $font-size-sm: $font-size-base * .875 !default;


// Body
$body-color: $gray-100 !default;
$body-bg: $indigo !default;

// Links
$link-color: $green !default;
$link-decoration: none !default;
$link-hover-color: $teal !default;
$link-hover-decoration: underline !default;

// Inline code
$code-bg: $gray-900 !default;
$code-color: $gray-200 !default;

// Code blocks
$code-block-bg-alpha: -.8;

// Code copy
$btn-code-copy-color-active: $teal !default;

// TOC
$toc-color: $green;
$toc-font-size: 1em;

// Navbar
$navbar-bg: $indigo !default;
$navbar-fg: $white !default;
$navbar-hl: $teal !default;

// Footer
$footer-bg: $indigo !default;
$footer-fg: $gray-300 !default;

/*-- scss:rules --*/

$web-font-path: "https://fonts.bunny.net/css?family=fira-sans:400,400i,500,500i,600,600i,700,700i|secular-one:400" !default;

@if $web-font-path {
    @import url($web-font-path);
}

body {
    -webkit-font-smoothing: antialiased;
}

.rtl {
    direction: rtl;
}


.home {
    .quarto-title-banner {
        margin-bottom: 0;
    }
}

#title-block-header {
    &.home {
        margin-block-end: 0.5rem;
    }
}

.home {
    .quarto-title-banner {
        margin-bottom: 0;
    }

    #title-block-header {
        margin-block-end: 0;
    }
}

// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
    font-size: 0.775em;
}

.navbar {
    font-family: $navbar-font-family;
}

.navbar-logo {
  max-height: 42px;
}

.navbar-brand {
  font-family: $headings-font-family;
  
}

.navbar-brand:hover {
  text-decoration: underline 0.15em $green;
  transition: text-decoration-color 300ms;
  
}

// Put all the icons in a single row in the hamburger menu
.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

#TOC {
    font-family: $toc-font-family;
    padding-bottom: 0.1em;

    .active {
        font-weight: 400;
    }

    #toc-title {
        font-weight: 600;
    }
}

.sidebar nav[role="doc-toc"]>ul li a {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#quarto-margin-sidebar {
    .quarto-listing-category-title {
        margin-left: 0.5em;
    }

    .quarto-listing-category {
        font-family: $toc-font-family;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.1;
        padding-left: 0.6rem;
        margin-left: 0.5em;
        border-left: 1px solid $gray-200;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 400;
            color: $teal;
        }

        .quarto-category-count {
            font-weight: 200;
            font-size: 0.8em;
            color: $gray-600;
        }
    }
}

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    font-family: $footer-font-family;

    a {
        color: $teal;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    .fingerprint {
        font-family: $font-family-monospace;
        font-size: 0.8em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

#title-block-header {
    .quarto-title-banner {
        font-family: $headings-font-family;
        
        .description {
            font-family: $toc-font-family;
            font-size: 1.1em;
            margin-top: 1em !important;
        }
    }
}

// Blog
.blog {
    .blog-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .metadata {
            flex: 0 0 8%;
        }

        .body {
            flex: 1 1 auto;
        }

        .thumbnail {
            flex: 0 0 25%;

            img {
                width: 100%;
                object-fit: cover;
                max-height: 120px;
            }
        }

        .title {
            font-weight: 500;
            font-size: 1.3em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .description {
            font-family: $toc-font-family;
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.3em;
        }

        .date {
            font-family: $toc-font-family;
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        .post-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .post-category {
                color: $gray-600;
                border: 1px solid $gray-500;
                border-radius: 0.25rem;
                text-transform: uppercase;
                font-size: 0.65em;
                padding: 0.15em 0.5em;
                cursor: pointer;
            }
        }
    }
}

.blog-post {
    .quarto-title .quarto-categories {
        margin-top: 1.5em;

        .quarto-category {
            background-color: shift-color($green, -25%);
            border-color: shift-color($green, -45%);
            color: $white;
            font-size: 0.65em;
            opacity: 1;
            
        .status {
            text-align: right;
            font-family: $navbar-font-family;
            margin: 1.3em 0;
            font-size: 1.2em;
            font-weight: 300;
            font-style: italic;
    }
        }
    }
}


// Research
.quarto-title-block {
    .haiku {
        text-align: right;
        font-family: $navbar-font-family;
        margin: 1.3em 0;
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
    }
    
    .status {
        text-align: right;
        font-family: $navbar-font-family;
        margin: 1.3em 0;
        font-size: 1.2em;
        font-weight: 300;
        font-style: italic;
    }

    .quarto-title .quarto-categories {
        padding-bottom: 0;
        flex-wrap: wrap;
        row-gap: 0.4em;
    }

    .project-details {
        background-color: rgba($teal, 0.1);
        padding: 0.75em;
        margin: 1em 0;
    }

    .quarto-title-meta-heading.manual {
        margin-top: 2em !important;
    }

    .project-links {
        padding: 0;
        margin-bottom: 0;
    }

    .project-link {
        display: inline-block;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }

}

.back-nav {
    margin-bottom: 1.5em;
}

.research {
    .back-nav a {
        color: shift-color($teal, -50%);
    }
    
    .quarto-title .quarto-categories .quarto-category {
        background-color: shift-color($teal, -75%);
        color: $teal;
        font-size: 0.65em;
        font-family: $toc-font-family;
        opacity: 1;
    }

    .project-categories {
        display: flex;
        flex-wrap: wrap;
        margin: 0.35em 0 0.35em;
        padding-top: 0.35em;
        padding-left: 0.5em;
        padding-bottom: 0;
        row-gap: 0.4em;
        column-gap: 0.4em;
        font-family: $navbar-font-family;

        .project-category {
            padding: 0.25em 0.75em 0.25em 0em;
            font-size: 0.7em;
            text-transform: uppercase;
        }
    }
}

.project-list {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 2em;

        li.project {
            margin-bottom: 2.5em;
            border-left: 6px solid shift-color($teal, -90%);

            p {
                margin: 0;
            }
        }
    }

    .project-content {
        padding-left: 0.5em;

        .status {
            font-size: 1rem;
            font-weight: 250;
            padding: 0.2em;
            margin-right: 0.5em;
        }
    }

    .haiku {
        margin: 0.4rem 0 0rem;
        font-family: $navbar-font-family;
        font-weight: 300;
        font-style: italic;
        text-align: right;
        color: $gray-600;
        font-size: 1.1em;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }
    }

    ul.project-links {
        margin-bottom: 0;
    }

    .project-details-listing {
        margin-top: 0.8em;
        background-color: shift-color($teal, -90%);
        font-size: 0.9rem;

        @media (max-width: map-get($grid-breakpoints, md)) {
            font-size: 0.95rem;
        }

        .project-link {
            display: inline-block;
            white-space: nowrap;
            padding: 0.5em 0.5em 0.5em 1em;
        }

        .details {
            background-color: $blue;
            padding-right: 1.5em;

            a {
                color: $gray-200;
            }
        }
    }
}

.teaching {
    .course-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 3em;
        column-gap: 0.7em;

        .body {
            flex: 1 1 auto;
        }

        .logo {
            flex: 0 0 140px;

            img {
                width: 100%;
            }
        }

        .course-title {
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0.2em;
        }
        
        .course-details {
            font-weight: 300;
            font-size: 0.9em;
            margin-bottom: 0.5em;
            color: $gray-800;
        }

        .course-description {
            font-weight: 300;
            font-size: 1.1em;
            margin-bottom: 0.5em;
        }

        .course-role {
            font-weight: 500;
        }

        ul.course-semesters {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                white-space: nowrap;
                background-color: $orange;
                margin: 0 0.2em 0.4em 0;
                padding: 0.2em 0.4em;
                font-size: 0.85em;
                border-radius: 0.25rem;

                &.no-link {
                    background-color: $white;
                    border: 1px solid $black;
                }

                a {
                    color: $white;
                }
            }
        }
    }
}

.talks {
    .talk-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .body {
            flex: 1 0 80%;
        }

        .metadata {
            flex: 1 0 20%;
        }

        .title {
            font-weight: 500;
            font-size: 1.2em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .description {
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.3em;
        }

        .date {
            font-family: $toc-font-family;
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        ul.talk-links {
            padding: 0 0.5em;
            background-color: shift-color($light-orange, -91%);
            margin-bottom: 0;

            .talk-link {
                display: inline-block;
                white-space: nowrap;
                margin: 0;
                padding: 0.5em 1em 0.5em 0;
                font-size: 0.85em;
            }
        }
    }
}

.cv-download {
    font-family: $headings-font-family;
    background-color: $green;
    border-color: $green;
    color: $white;

    &:hover {
        background-color: $red;
        border-color: $red;
        color: $white;
    }
}

.code-tools-button {
    position: relative;
    left: 5em;

    @media (max-width: map-get($grid-breakpoints, md)) {
        left: 0;
    }
}